html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 60px;
}

.burn:after {
  content: "🔥";

  font-size: 1.75em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

.gasStation {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
//  background: linear-gradient(#e66465, #9198e5);
  color: black;
}
.gasChart {
/*   margin: 10px;
  padding: 10px;
  max-width: 200px;
  background-color: antiquewhite;
  border-radius: 10px;
  border: 2px solid snow; */
  path {
 //     stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }
  .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
}